.hero-bg-img.hero-action-call {
  background-image: url(../img/img-hero-default.jpg) !important;
}

.border-thick {
  border: 1px solid black !important;
}

.border {
  border: 1px dotted red !important;
}

.hero-bg-img {
  /* asu red */
  background: #a30046;
}


.space-bot-0 {
  margin-bottom: 0;
}

.space-bot-sm {
  margin-bottom: 12px;
}

.space-bot-md {
  margin-bottom: 24px;
}

.space-bot-lg {
  margin-bottom: 36px;
}

.space-bot-xl {
  margin-bottom: 48px;
}

.space-bot-form {
  margin-bottom: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.pad-top-0 {
  padding-top: 0;
}

.pad-top-sm {
  padding-top: 12px;
}

.pad-top-md {
  padding-top: 24px;
}

.pad-top-lg {
  padding-top: 36px;
}

.pad-top-xl {
  padding-top: 48px;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.pad-bot-sm {
  padding-bottom: 12px;
}

.pad-bot-md {
  padding-bottom: 24px;
}

.pad-bot-lg {
  padding-bottom: 36px;
}

.pad-bot-xl {
  padding-bottom: 48px;
}

.pad-zero {
  padding: 0 !important;
}