.hero-bg-img.hero-action-call {
  background-image: url(../img/img-hero-default.jpg) !important;
}

.hero-bg-img {
  /* asu red */
  background: #a30046;
}

.inline {
  display:inline-block;
}

.border-thick {
  border: 1px solid black !important;
}

.border {
  border: 1px dotted red !important;
}



.mr-20 {
  margin-right: 20px;
}

.pad-top-0 {
  padding-top: 0;
}

.pad-top-sm {
  padding-top: 12px;
}

.pad-top-md {
  padding-top: 24px;
}

.pad-top-lg {
  padding-top: 36px;
}

.pad-top-xl {
  padding-top: 48px;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.pad-bot-sm {
  padding-bottom: 12px;
}

.pad-bot-md {
  padding-bottom: 24px;
}

.pad-bot-lg {
  padding-bottom: 36px;
}

.pad-bot-xl {
  padding-bottom: 48px;
}

.pad-zero {
  padding: 0 !important;
}