---
layout: default
title: GIOS Public Documentation
description: "The public facing documentation for GIOS and GIOS projects"
image:
  feature: plains.jpg
  credit: Crucifix Jean-Luc @ Unsplash
  creditlink: "https://ununsplash.imgix.net/uploads/141362941583982a7e0fc/abcfbca1?q=75&fm=jpg&s=5266baf09e0e878b72b2e34adf2f54a0"
---

<div class="gray-back">
  <div class="container">
    <div class="row">
      <h2>Welcome!</h2>
      <p>This is the public facing documentation for GIOS and the GIOS projects</p>
      <p>TODO text</p>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="container">
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="nav nav-pills">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <li role="presentation">
      <a href="#{{ this_word }}" class="tag">
        <span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span>
      </a>
    </li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  <div class="well">
    <h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
    <ul class="nav nav-pills nav-stacked">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
    </ul>
  </div><!-- /.hentry -->
{% endunless %}{% endfor %}
</div><!-- /.container -->