      </div>
    </div>
  </div>
  <div class="footer">
    <div class="big-foot">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 space-bot-md">
            <img class="footer-logo" src="https://sos.wp.prod.gios.asu.edu/files/2015/01/SOS_REV.png">
            <br>            
            <address>
              Arizona State University<br>
              800 South Cady Mall <br>
              Tempe, AZ 85281<br>
              Phone: <a class="phone-link" href="tel:(480) 727-6963">(480) 727-6963</a><br>
              Fax: (480) 965-8087<br>
            </address>    
          </div>
          <div class="col-md-6 space-bot-md">
            <h2 data-toggle="collapse" data-target="#menu-item-596-nav">Categories  <span class="caret hidden-sm hidden-md hidden-lg"></span></h2>
            <ul class="big-foot-nav collapse in">
              {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
              {% assign tags_list = site_tags | split:',' | sort %}

              {% for item in (0..site.tags.size) %}{% unless forloop.last %}
              {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
              <li class="menu-item">
                <a title="{{ this_word }}" href="{{ site.url }}category/{{ this_word | slugify }}.html">{{ this_word }}</a>
              </li>
             {% endunless %}{% endfor %}
            </ul>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>

    <div class="little-foot">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="little-foot-nav">
              <li><a href="http://www.asu.edu/copyright/">Copyright &amp; Trademark</a></li>
              <li><a href="http://www.asu.edu/accessibility/">Accessibility</a></li>
              <li><a href="http://www.asu.edu/privacy/">Privacy</a></li>
              <li><a href="http://www.asu.edu/asujobs">Jobs At ASU</a></li>
              <li><a href="https://cfo.asu.edu/emergency">Emergency</a></li>
              <li><a href="https://contact.asu.edu/">Contact ASU</a></li>
            </ul>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.little-foot -->

  </div><!-- /.footer -->
  <!-- End Footer -->

  <!-- End Footer -->
  <!-- JS Only -->
  <script src="./js/jquery-1.11.1.min.js"></script>
  <script src="./js/smoothscroll.min.js"></script>
  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap-asu.js"></script>
  <script src="./js/prettify.js"></script>
  <script src="./js/run_prettify.js"></script>
  </body>
</html>
