<!-- Begin Footer -->

  <div class="footer">

    <div class="big-foot">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 space-bot-md">
            <h1>ASU Web Standards Bootstrap</h1>

            <ul class="social-media">
              <li><a href="#" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="#" title="Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
              <li><a href="#" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#" title="YouTube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-3 space-bot-md">
            <h2 data-toggle="collapse" data-target="#github">Open Source</h2>
            <ul class="big-foot-nav collapse" id="people-menu">
              <li><a class="" href="https://github.com/gios-asu/ASU-Bootstrap-Addon">ASU Bootstrap GitHub</a></li>
              <li><a class="" href="https://github.com/gios-asu/ASU-Wordpress-Web-Standards-Theme">ASU Wordpress GitHub</a></li>
              <li><a class="" href="https://github.com/gios-asu/gios-asu.github.io">This Website's GitHub</a></li>
            </ul>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.big-foot -->

    <div class="little-foot">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="little-foot-nav">
              <li><a class="" href="#">Copyright &amp; Trademark</a></li>
              <li><a class="" href="#">Accessibility</a></li>
              <li><a class="" href="#">Privacy</a></li>
              <li><a class="" href="#">Emergency</a></li>
              <li><a class="" href="#">Contact ASU</a></li>
            </ul>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.little-foot -->

  </div><!-- /.footer -->

  <!-- End Footer -->
  <!-- JS Only -->
  <script src="./js/jquery-1.11.1.min.js"></script>
  <script src="./js/smoothscroll.min.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap-asu.js"></script>
  <script src="./js/prettify.js"></script>
  <script src="./js/run_prettify.js"></script>
  </body>
</html>
