<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      Prevent this staging site from showing up in search results. Don't
      use this meta tag in the production site.
    -->
    <meta name="robots" content="noindex,nofollow">

    <title>{% if page.html_title %}{{ page.html_title }} • {% endif %}ASU Web Standards</title>

    <base href="//gios-asu.github.io/" />
    <!-- CSS -->
    <!--
      The asu-nav.css file is only here to include the ASU global
      navigation in our deployed preview site. This stylesheet
      doesn't need to be included in the final Drupal theme, as
      ASU includes it themselves across all sites.
    -->
    <link href="./css/asu-nav.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>

    <!-- The main app css file -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap-asu.css" rel="stylesheet">
    <link href="./css/bootstrap-asu-theme-base.css" rel="stylesheet">
    <link href="./css/docs.css" rel="stylesheet">
    <link href="./css/prettify.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- modernizr to help with some feature detection -->
    <script src="./js/modernizr-2.8.3.custom.js"></script>
  </head>
<body>
  <a class="sr-only" href="#content">Skip to main content</a>

  <!-- ASU Global Navigation -->
  <header id="asu_header" role="banner">
    <div id="block-asu-brand-asu-brand-header" class="block block-asu-brand">
      <div class="content container">
        <div id="asu_hdr" class="asu_hdr_white chrome">
         <div id="asu_mobile_hdr">
           <div id="asu_logo">
             <a target="_top" href="//www.asu.edu/" title="Arizona State University">
               <img src="//www.asu.edu/asuthemes/4.0-rsp.1/images/logos/asu_logo_white.png" alt="Arizona State University" height="32" width="203" style="margin-top:11px" title="Arizona State University">
             </a>
           </div><!-- /#asu_logo  -->
           <img src="//www.asu.edu/asuthemes/4.0-rsp.1/images/logos/asu_logo_white.png" alt="Arizona State University" height="32" width="203" id="asu_print_logo">
           <div id="asu_school_name">Web Standards</div>
           <div id="asu_mobile_button" class="asushow"><a href="javascript:toggleASU();">Menu</a></div>
          </div>
        </div><!-- /#asu_hdr -->
        <div style="clear:both;"></div>
      </div><!-- /.content -->
    </div><!-- /#block-asu-brand-asu-brand-header -->
  </header>

  <!-- Web Standards Global Navigation -->
  <nav class="navbar navbar-ws" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ws">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">Web Standards</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-ws">
        <ul class="nav navbar-nav">
          <li><a href="./" title="Home"><span class="fa fa-home hidden-xs hidden-sm" aria-hidden="true"></span><span class="hidden-md hidden-lg">Home</span></a></li>
          <li><a href="/getting-started.html">Getting Started</a></li>
          <li><a href="/css.html">CSS</a></li>
          <li><a href="/components.html">Components</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Examples <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/examples/example-site.html">Example Site</a></li>
              <li><a href="/examples/example-standards.html">Example Standards</a></li>
            </ul>
          </li>
          <li class="dropdown">
              <li><a href="/wordpress-migration.html">Wordpress Theme</a></li>
              <!-- <li><a href="/custom-migration.html">Custom Websites</a></li> -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>